<!DOCTYPE html>
<html lang="en">

<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <title>8 ball question</title>
</head>

<body>
    <form id="add">
        <div>
            <input id="input-ask" type="text">
        </div>
        <div>
            <button id="submit">Ask 8 ball</button>
        </div>
    </form>
</body>

</html>